@import url('https://rsms.me/inter/inter.css');

:root {
  --dark-gray: #303030;
  --accent: pink;
}

body {
    font-family: ;
    font-family: 'Inter var', sans-serif;
    background-color: #fef9e2;
    color: var(--dark-gray);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 120px min-content 1fr;
    gap: 10px;
    grid-template-areas:
      "sitetitle sitetitle"
      "tagline   tagline"
      "sidebar   sidebar"
      "content   content";
}
h1,h2,h3,h4,h5 {
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
}

body.home nav h1,
body.home nav h2,
body.home nav h3,
body.home nav h4,
body.home nav h5 {
    margin: 0;
}

.currentPageIndicator {
  text-shadow: 1px 1px 4px #ff1493;
}

#titleContainer {
  grid-area: sitetitle;
  justify-self: center;
  width: 320px;
}
#avatar {
  grid-area: avatar;
}

.avatar {
  width: 120px;
  float: left;
}

#header .avatar {
  border-radius: 50%;
  z-index: 200;
}

#sitetitle {
  float: left;
  padding-left: 20px;
  font-size: 3em;
}

#tagline { 
    grid-area: tagline;
    color: var(--accent);
    font-family: 'bad_scriptregular', sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

#sidebar {
  grid-area: sidebar;
  font-size: 1.5rem;
  border-top: 5px dashed var(--dark-gray);
  border-bottom: 5px dashed var(--dark-gray);
}

#menuMobile {
  padding: 24px;
}

#menuDesktop {
  display: none;
}

#content {
  grid-area: content;
    font-size: 1.3rem;
    line-height: 1.4;
    font-family: 'Inter', sans-serif;
    font-feature-settings: "ss02", "cv02", "frac";
}
#header .look {
  height: 150px;
  width: 50%;
  z-index: 100;
}

#header .look.left {
  float: left;
}

#header .look.right {
  float: left;
}

img {
  box-shadow: 5px 5px 0 red;
}


body.home nav {
    font-size: 2.0rem;
}
.thegrid {
    display: grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;
}

.thegrid > * {
    grid-column: 2;
}
.full-bleed, pre {
    width: 100%;
    grid-column: 1 / 4 !important;
    box-sizing: border-box;
}

.blag {
    /* Not needed with Interfont */
    /* letter-spacing: 0.08rem; */
}


#content nav ul {
  margin-top: 0;
}

#content p {
    text-align: justify;
}

.narrow {
}

@supports (font-variation-settings: normal) {
  #content { 
    font-family: 'Inter var', sans-serif; 
  }
}


#content img {
    max-width: 100%;
}

.highlight-line-active {
    background-color: #fcf267;
}


#toc {
    background-color: #fff;
    margin: 0 0 1rem 0;
    padding: 1rem;
    position: sticky;
    top: 0;
    border-bottom: 1px dashed;
}

#content hr {
    border: 1px dashed #fff;
}

.blogPost {
    margin-bottom: 2em;
}

.pageupdate {
  font-size: .8rem;
  background-color: #eee;
  padding: .5em .5em .5em .5em;
  margin-top: .5em;
}


.updatemessage {
  padding-top: .5em;
  padding-left: 1em;
}

.blogPost.blurb .content {
  font-size: 1.7rem;
}

.publish-date {
    font-size: 0.8rem;
    text-shadow: 1px 1px 2px #ff1493;
}

.blogPost .date {
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-style: italic;
}

.blogPost .date a {
    text-decoration: none;
}

.blogPost .content {
    /*border-left: 1px solid #404040;*/
    /*padding-left: 1rem;*/
}

.blogPost .title {
    margin-bottom: .5rem;
}

.blogPost .blurb {
    font-size: 1.5rem;
}

.blogPost .content p {
    margin: 0;
}

.blogPost .content p + p,.blogPost .content h2 + p  {
    margin: 1em 0 0 0;
}

.strike {
  text-decoration: line-through;
}

.booklist {
  display: grid;
  grid-template-columns: auto auto;
}

.booklist .bookdetails {
  grid-column-start: 1;
  grid-column-end: span 2;
}
.booklist figure {
  grid-column-start: 1;
  margin-left: 0;
}

.booklist .bookreview {
  grid-column-start: 2;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galleryItem {
  max-width: 280px;
}

#back {
    font-size: 2.5rem;
}

#back a {
  text-shadow: 1px 1px 2px black;
}

dd {
  margin-top: 1em;
  margin-bottom: 1em;
}

.footnotes {
    background-color: #eee;
    padding: .5em;
    padding-right: 2em;
    font-size: .9rem;
}

.comingsoon {
    text-decoration: line-through;
}


@media only screen and (min-width: 700px) {

  body {
    grid-template-areas:
      "sitetitle content"
      "tagline   content"
      "sidebar   content";
    }


    body.home nav h2 {
        text-align: right;
        margin: 0;
    }

    #sidebar {
        border-bottom: none;
      }

    #content {
      padding-left: 20px;
      padding-right: 20px;
      border-left: 5px dashed var(--dark-gray);
    }

    #menuMobile {
      display: none;
    }

    #menuDesktop {
      display: block;
    }

    .blogPost {
        max-width: 600px;
        margin: 0 auto;
        /*display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        */

    }

    .blogPost .title {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .blogPost .date {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .blogPost .content {
        grid-column-start: 2;
        grid-row-start: 2;
    }
}

a,a:visited {
    text-decoration:    underline;
    color:              #024def;
}

a:hover {
    text-decoration:    none;
    /*color:              #efaa28;*/
    color: var(--accent);
}

@media (prefers-color-scheme: dark) {
    body.color-auto {
        background-color: #100e17;
        color: #fff;
    }

    body.color-auto a, body.color-auto a:visited {
        color: #02c4ef;
    }

    body.color-auto a:hover {
        color: var(--accent);
    }

    #toc {
        background-color: #1e1b2b;
    }
    #back a {
      text-shadow: 1px 1px 2px gray;
    }
    .footnotes {
      background-color: #171619;
    }
  .pageupdate {
    background-color: #171619;
  }
}

