import url('https://rsms.me/inter/inter.css');


body {
    font-family: ;
    /*background-color: #fefefe;*/
}

h1,h2,h3,h4,h5 {
    font-weight: normal;
}

body.home nav h1,h2,h3,h4,h5 {
    margin: 0;
}

#header {
    text-align: center;
    font-size: 5rem;
    text-align: center;
}

#header div {
}

#header .logo {
    margin: 0 auto;
}

#header .tagline {
    margin: 0 auto;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: end;
}

#header .elsewhere {
    padding-top: 1rem;
    margin: 0 auto;
    font-size: 1.5rem;
}

#header .elsewhere a {
    padding: 0 6px 0 6px;
}

body.home nav {
    font-size: 2.5rem;
}

.blag {
    /* Not needed with Interfont */
    /* letter-spacing: 0.08rem; */
}

#content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 1.4;
}

#content p {
    text-align: justify;
}

#content { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  #content { font-family: 'Inter var', sans-serif; }
}


#content img {
    width: 100%;
}


#toc {
    background-color: #fff;
    margin: 0 0 1rem 0;
    padding: 1rem;
    position: sticky;
    top: 0;
    border-bottom: 1px dashed;
}

#content hr {
    border: 1px dashed #fff;
}

.blogPost {
    padding-bottom: 2rem;
}

.date {
    font-size: 0.8rem;
}

.blogPost .date {
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-style: italic;
}

.blogPost .date a {
    text-decoration: none;
}

.blogPost .content {
    border-left: 1px solid #404040;
    padding-left: 1rem;
}

.blogPost .title {
    margin-bottom: .5rem;
}

.blogPost .blurb {
    font-size: 1.5rem;
}

.blogPost .content p {
    margin: 0;
}

.blogPost .content p + p,.blogPost .content h2 + p  {
    margin: 1em 0 0 0;
}

#back {
    font-size: 2.5rem;
}


.comingsoon {
    text-decoration: line-through;
}

@media only screen and (min-width: 625px) {

    #header {
        flex-direction: row;
    }

    #header .tagline {
        padding-left: 10px;
        padding-top: 0.3rem;
    }

    body.home nav h2 {
        text-align: right;
        margin: 0;
    }

    body.home dl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width:		100%;
    }

    body.home dt {
        grid-column: 1;
        text-align: right;
    }

    body.home dd {
        grid-column: 2;
        margin-left: 0;
        visibility: hidden;
    }
    .blogPost {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
    }

    .blogPost .title {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .blogPost .date {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .blogPost .content {
        grid-column-start: 2;
        grid-row-start: 2;
    }
}
    body {
        color: #404040;
    }
    a,a:visited {
        text-decoration:    underline;
        color:              #024def;
    }

    a:hover {
        text-decoration:    none;
        /*color:		#FF4826;*/
        color:              #f2b200;
    }

@media (prefers-color-scheme: dark) {
    body.color-auto {
        background-color: #100e17;
        color: #fff;
    }

    body.color-auto a, body.color-auto a:visited {
        color: #02c4ef;
    }

    body.color-auto a:hover {
        color: #f9c536;
    }

    #toc {
        background-color: #1e1b2b;
    }
}

body.color-dark {
    body.color-auto {
        background-color: #100e17;
        color: #fff;
    }

    body.color-auto a, body.color-auto a:visited {
        color: #02c4ef;
    }

    body.color-auto a:hover {
        color: #f9c536;
    }
}
