<!DOCTYPE html>
<html style="scroll-behavior: smooth;">
<head>
    <meta charset="utf-8" />
    <title>Things I want to do on this site | justus.ws</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="/images/daoi_round.png" />
    <link rel="canonical" href="/todo/" />
    <link rel="stylesheet" href="/style/style.css" type="text/css">
    <link rel="stylesheet" href="/style/prism-cb.css" type="text/css">
    <link rel="stylesheet" href="/style/fontawesome-all.min.css" type="text/css">

</head>
<body id="top" class="color-auto ">
    <div id="toggle-color">
    </div>
    <div id="header">
        <div class="look left"></div>
        <div class="look right"></div>
        <a href="/"><img src="/images/dadi-avatar.png" height="150" class="avatar"></a>
        <div class="logo"><a href="/" class="u-url u-uid p-name" rel="me">justus.ws</a></div> 
        <div class="tagline">home, home on the net<br />where the links and the hypertexts play</div>
        <div class="elsewhere">
            <a href="mailto:jg@justus.ws" rel="me" class="u-email" data-label="<strong>email</strong>&nbsp;| jg@justus.ws"><i class="far fa-envelope-open"></i></a><a href="https://photos.justus.ws" rel="me" data-label="<strong>photos</strong>&nbsp;| smugmug"><i class="fas fa-camera-retro"></i></a><a href="https://github.com/justusthane" rel="me" data-label="<strong>code</strong>&nbsp;| github"><i class="fab fa-github"></i></a><a href="https://keybase.io/justusthane" rel="me" data-label="<strong>encrypt</strong>&nbsp;| keybase"><i class="fab fa-keybase"></i></a>
        </div>
    </div>

    <div id="content">
        <h1><a href="/">home</a>/Things I want to do on this site</h1>
<p class="publish-date">Published 2020-09-04</p>
<h2 id="site">Site</h2>
<ul class="contains-task-list">
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> Stop images from being sideways :\
<ul>
<li><em><a href="https://stackoverflow.com/questions/20290419/why-do-my-webpage-images-appear-sideways-in-my-html-but-correct-when-in-full-scr">This was apparently just an issue with the exif data from iPhone photos</a>. Opening the images in Preview and saving them fixed it.</em></li>
</ul>
</li>
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> Fix site tagline on mobile</li>
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> Manual ordering for home page links</li>
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> Split homepage into “Here” and “Elsewhere” sections
<ul class="contains-task-list">
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> Figure out better way to manage homepage <em>elsewhere</em> links other than hardcoded in the template
<ul>
<li><em><a href="https://github.com/justusthane/grav-justus.ws/commit/294faf768b95e80e0b8ba2b7028cc7ca797f202e">Links now defined in home page frontmatter YAML</a> rather than hardcoded into template. Yay!</em></li>
</ul>
</li>
</ul>
</li>
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> Resize images</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> Fix disappearing taglines on small site</li>
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> Make blog
<ul class="contains-task-list">
<li><em><a href="https://github.com/justusthane/grav-justus.ws/commit/e3a307f5c5976b22ed4dd1e2932df896f8dbdaf6">Made blog</a>!</em></li>
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> Different content types (long post, blurb, photo, link, etc)
<ul>
<li>Trying to figure out how to embed the posts on the blog page using the partials template corresponding to the post type. The problem is that the normal way of embedding, <code>{% include 'partials/post.md' with {'page': 'item'} %}</code>, explicitly defines the template, where I want to use a template depending on the embedded page type (e.g. <a href="http://photo.md">photo.md</a> should use partials/photo.twig.html).
<ul>
<li>One possibility might be to build the blog as a modular page, which appears to do this automatically. However, I’m not sure if that will work since each post should also be accessible individually by its own URL</li>
<li>It also appears from the <a href="https://twig.symfony.com/doc/2.x/tags/include.html">Twig documentation</a> that the template name can be a Twig expression, so there might be some room to play there.
<ul>
<li><em><a href="https://github.com/justusthane/grav-justus.ws/commit/d4b3607705bf5760afa877bc220391db318ae5d5">Figured it out</a>, and this ended up being the way. Ended up being super easy: <code>{% include 'partials/' ~ child.template ~ '.html.twig' with {page: child, embed: true} %}</code></em></li>
</ul>
</li>
<li>I’ve also posted on the Grav forum looking for help.</li>
</ul>
</li>
</ul>
</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> Tags</li>
</ul>
</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> Automatic ToC for long pages?
<ul>
<li>How to parse Markdown and pull headers into Twig template?</li>
</ul>
</li>
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> On listing pages show date published/date updated</li>
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> Figure out how to unobstrusively integrate an <a href="http://microformats.org/wiki/h-card">h-Card</a> into the homepage?
<ul class="contains-task-list">
<li>Maybe integrate with the Elsewhere section, since that’s mostly links to me at other places?</li>
<li>Or “Me” section?</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> <s>Eventually move the h-card to a footer below an hr</s></li>
</ul>
</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> <a href="https://developer.mozilla.org/en-US/docs/Glossary/Semantics">Semantic elements</a></li>
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> Favicon</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> Define the site tagline in YAML</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> Add indicator for external links</li>
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> Write Grav plugin to render these markdown checkboxes as HTML checkboxes
<ul>
<li>Model after Github markdown preview checkboxes</li>
<li><em>Done! Well, I didn’t write a Grav plugin, instead I rebuilt the site in the pretty cool <a href="https://11ty.dev">Eleventy static site generator</a>, which uses <a href="http://markdown.it">markdown.it</a>, and it turns out there’s a <a href="https://www.npmjs.com/package/markdown-it-task-lists">markdown.it plugin</a> that does exactly what I wanted. Awesome!</em></li>
</ul>
</li>
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> Add <em>Links</em> page
<ul class="contains-task-list">
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> Maybe actually put links on the links page</li>
</ul>
</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> Add RSS feeds</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> Add options page
<ul class="contains-task-list">
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> light theme/dark theme
<ul class="contains-task-list">
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> default to device preference
<ul>
<li>dark mode now exists for devices that prefer it! still need to make it manual option as well.</li>
</ul>
</li>
</ul>
</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> LocalStorage to indicate new items since last visit</li>
</ul>
</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> WebMentions</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> Comments</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> In-line links to load image on demand. Identify with little photo icon (similar to external links).
<ul>
<li>button to load all images in page/post</li>
</ul>
</li>
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> Add default layout for all pages
<ul>
<li>Done, thanks to <a href="https://github.com/11ty/eleventy/issues/380#issuecomment-568033456">this</a> handy tip for accomplishing this in Eleventy</li>
</ul>
</li>
</ul>
<h2 id="content">Content</h2>
<ul class="contains-task-list">
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> Worm composting article?</li>
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> <a href="https://justus.ws/food/care-of-cast-iron-pans">Cast iron pan care</a></li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> In appreciation of the bamboo spatula</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> Glove darning blog post</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> FZF article</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> Add /now page</li>
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> Add “How does this site work?” page</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> Self-composting page?
<ul>
<li>Define the entire page (save maybe nav and a brief message?) in a single template</li>
<li>Delete one character out of the template every time the page is loaded
<ul>
<li>How will it change over time? As parts of HTML tags are deleted the structure will slowly become visible as it breaks down.</li>
</ul>
</li>
</ul>
</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> “Slow Story”: use a neural network or something to generate a story at a speed of one word per day
<ul>
<li>I definitely don’t know how to do this, but I like the idea and it might be fun to figure out?</li>
</ul>
</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> Cybersecurity for regular folks</li>
<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> Switching off gmail</li>
<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> Update How page</li>
</ul>

    </div>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/scripts.js"></script>

</body>
</html>
