{% extends "layouts/pagewrap.njk" %}
{% set myArray = page.url | split('/') | reverse %}
{% set parent = myArray[2] %}
{% if not parent %}
    {% set parent = 'home' %}
{% endif %}

{% block nav %}
{% endblock %}
{% block content %}
{{ super() }}
{{ content | safe }}
<ul>
{% for page in collections[cat] | sortByUpdated %}
  <li>{% blogIcon page.data.type %} <a href="{{ page.url }}">{{ page.data.title }}</a> <span class="publish-date">(published {{ page.date | utcDate('YYYY-MM-DD') }}{% if page.data.updated %}, updated {{ page.data.updated | utcDate('YYYY-MM-DD') }}{% endif %})</span></li>
{% endfor %}
</ul>
{% endblock %}
