{% extends "layouts/pagewrap.njk" %}

{% block content %}
{{ super() }}
<p class="publish-date">Published {{ page.date | utcDate('YYYY-MM-DD') }}{% if updated %}, updated {{ updated | utcDate('YYYY-MM-DD')}}{% endif %}</p>
{{ content | safe }}
<a href="#wrapper"><i class="fas fa-arrow-circle-up"></i>&nbsp;top</a>
{% endblock %}
