{% extends "layouts/base.njk" %}
{% set array = page.url | getParent %}
{% set parentUrl = array[0] %}
{% set parentSlug = array[1] %}
{% block sidebar %}
{% set navPages = collections.all | eleventyNavigation('home') %}
<details id="menuMobile">
  <summary>Menu</summary>
        <ul>
          <li><a href="/">home</a></li>
          {% for entry in navPages %}
          <li{% if entry.url == page.url %} class="currentPageIndicator"{% endif %}>
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>{{ entry.tagline }}
          </li>
          {% endfor %}
        </ul>
</details>
        <div id="menuDesktop">
          <ul>
          <li><a href="/">home</a></li>
            {% for entry in navPages %}
            <li{% if entry.url == page.url %} class="currentPageIndicator"{% endif %}>
              <a href="{{ entry.url | url }}">{{ entry.title }}</a>{{ entry.tagline }}
            </li>
            {% endfor %}
          </ul>
        </div>
{% endblock %}
{% block content %}
{{ breadcrumbs | dump | safe }}
<a href="{{ parentUrl }}"><i class="fas fa-arrow-circle-left"></i>&nbsp;{{ parentSlug }}</a>
  <h1>
{% if type == 'reply' %}
  <i class="fas fa-reply"></i> Reply to: <a class="u-in-reply-to"  href="{{ link }}">{{ title }}</a>
{% elif type == 'link' %}
  <i class="fas fa-link"></i> Link: <a href="{{ link }}">{{ title }}</a>
{% else %}
  {{ title }}
{% endif %}
  </h1>
{% endblock %}
