{% set array = page.url | getParent %}
{% set parentUrl = array[0] %}
{% set parentSlug = array[1] %}
<h1><a href="{{ parentUrl }}">{{ parentSlug }}</a>/{{ title }}</h1>
{% block content %}
{% endblock %}
{% if parent != 'home' %}
<div id="back">
  <a href="{{ parentUrl }}">&lt; more {{ parentSlug }}</a>
</div>
{% endif %}
