---
layout: layouts/base.njk
---
{% extends "layouts/pagewrap.njk" %}

{% block content %}
<p class="publish-date">Published {{ page.date | utcDate('YYYY-MM-DD') }}{% if updated %}, updated {{ updated | utcDate('YYYY-MM-DD')}}{% endif %}</p>
{{ content | safe }}
{% endblock %}
